<section>
  <h1>Forms Task</h1>
  <div class="container">
    <div class="header">
      <h1>Task</h1>
    </div>

    <div class="m-5">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingInputGrid"
                placeholder="Enter your Name"
                formControlName="name"
              />
              <small
                *ngIf="
                  profileForm.get('name')?.invalid &&
                  profileForm.get('name')?.touched
                "
                class="text-danger"
                >Required Name</small
              >
              <label for="floatingSelectGrid">Name</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <input
                type="email"
                class="form-control"
                id="floatingInputGrid"
                placeholder="name@example.com"
                formControlName="emailID"
              />

              <small
                *ngIf="
                  profileForm.get('email')?.invalid &&
                  profileForm.get('email')?.touched
                "
                class="text-danger"
                >Required Email IDr</small
              ><label for="floatingInputGrid">Email address</label>
            </div>
          </div>
        </div>
        <div class="row g-2 mt-3">
          <div class="col-md">
            <div class="form-floating">
              <input
                type="number"
                class="form-control"
                id="floatingInputGrid"
                placeholder="Enter Mobile Number"
                formControlName="mobile"
              />
              <small
                *ngIf="
                  profileForm.get('mobile')?.invalid &&
                  profileForm.get('mobile')?.touched
                "
                class="text-danger"
                >Required Mobile Number</small
              >
              <label for="floatingSelectGrid">Mobile Number</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingInputGrid"
                placeholder="Enter your Qualification"
                formControlName="qualification"
              />

              <small
                *ngIf="
                  profileForm.get('qualification')?.invalid &&
                  profileForm.get('qualification')?.touched
                "
                class="text-danger"
                >Required qualification</small
              ><label for="floatingInputGrid">Qualification</label>
            </div>
          </div>
          <div class="form-floating mt-2">
            <textarea
              class="form-control"
              placeholder="Leave a comment here"
              id="floatingTextarea" 
              formControlName="address"
            ></textarea>
            <small
              *ngIf="
                profileForm.get('address')?.invalid &&
                profileForm.get('address')?.touched
              "
              class="text-danger"
              >Required Address
            </small>
            <label for="floatingTextarea">Address</label>
          </div>
        </div>
        <div formArrayName="work_exp">
          <div class="formArray">
            <h4>Work Experience</h4>
            <button
              type="button"
              class="btn btn-success"
              (click)="addwork_exp()"
            >
              + Add Field
            </button>
          </div>
          <table class="table">
            <thead class="thead">
              <tr>
                <th scope="col">S.NO</th>
                <th scope="col">Company</th>
                <th scope="col">Role</th>
                <th scope="col">Experince</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let experince of work_exp.controls;
                  let expIndex = index;
                "
                [formGroupName]="expIndex"
              >
                <td>
                  <label for="alias-{{ expIndex }}">{{ expIndex + 1 }}</label>
                </td>

                <td>
                  <input
                    type="text"
                    class="form-control"
                    id="experince-{{ expIndex }}"
                    formControlName="company"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    id="experince-{{ expIndex }}"
                    formControlName="role"
                  />
                </td>

                <td>
                  <input
                    type="text"
                    class="form-control"
                    id="experince-{{ expIndex }}"
                    formControlName="experience"
                  />
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="mt-3">
          <button type="submit" class="btn btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <table class="table">
      <thead class="thead">
        <tr>
          <th scope="col">S.NO</th>
          <th scope="col">Name</th>
          <th scope="col">Mobile Number</th>
          <th scope="col">Email ID</th>
          <th scope="col">Educational Qualification</th>

          <th scope="col">Address</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of allProfile">
          <td>{{data.id}}</td>
          <td>{{data.name}}</td>
          <td>{{data.mobile}}</td>
          <td>{{data.emailID}}</td>
          <td>{{data.qualification}}</td>
          <td>{{data.address}}</td>
          <!-- <td>{{data.work_exp[0].experience}}</td>
          <td>{{data.work_exp[0].role}}</td>
          <td>{{data.work_exp[0].experience}}</td> -->
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section>
  <div>
    <p>New Section</p>
  </div>
</section>