<section>
    <nav>
        <ul>
            <li>Home</li>
            <li>About us</li>
        </ul>
    </nav>
</section>


<section>
    <h3>CRUD APP</h3>
    <form>
        <label for="">Name</label>
        <input type="text" name="name" id="">
        <label for="">Roll no</label>
        <input type="number" name="" id="">
        <button type="submit">Submit</button>
    </form>
</section>